<h2><a href="{% url 'main' %}">main</a></h2>
<h2><a href="{% url 'region-bg' %}">region-bg</a></h2>
<h2><a href="{% url 'country-all' %}">country-all</a></h2>
<h2><a href="{% url 'country' %}">country</a></h2>
<h2><a href="{% url 'date-regions' %}">date-regions</a></h2>
<h2><a href="{% url 'enter' %}">enter</a></h2>
<h2><a href="{% url 'hear-map' %}">hear-map</a></h2>
<h2><a href="{% url 'recover' %}">recover</a></h2>
<h2><a href="{% url 'region' %}">region</a></h2>
<h2><a href="{% url 'registration' %}">registration</a></h2>
<h2><a href="{% url 'stat' %}">stat</a></h2>
<h2><a href="{% url 'subscribe' %}">subscribe</a></h2>