{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(97598667, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/97598667" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сервис анализа патентной активности компаний Москвы</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'img/icon/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <!-- REGISTRATION -->
        <section class="registration">
            <div class="container container-registration">
                <div class="wrapper-registration">
                    <div class="wrapper-registration__content">
                        <div class="wrapper-registration-header">
                            <h2>Забыли пароль? <br>Заполните ваши данные <br>для восстановления доступа в сервис</h2>
                            <form action="#" class="registration-form">
                                <div class="form-group">
                                    <div class="form-group__text">Пароль</div>
                                    <div class="form-group__item">
                                        <input type="password" 
                                               name="password" 
                                               class="registration-form__input" 
                                               placeholder="Введите Ваш пароль..." 
                                               required>
                                        <img src="{% static 'img/icon/password.png' %}" class="registration-form__icon" alt>
                                    </div>
                                </div>
                                <div class="form-group-btn">
                                    <button type="submit" class="btn">Восстановить доступ</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="wrapper-registration__bg"></div>
                </div>
            </div>
        </section>
        <!-- REGISTRATION -->
    </main>
</body>

</html>